.blog-post-list {
  .blog-post-date {
    width: 6em;
    color: #777;
    display: block;
    float: left;
    
  
    @include media-query($on-mobile) {
      display: block;
      float: none;
      color: #333;
      font-size: 11px;
      margin-top: 14px;
    }
  }

  .blog-post-title {
    font-size: 100%;
    letter-spacing: normal;
  }
  
  .blog-post-content{
    font-size: 85%;
    margin-top: 5px;
    color: gray;
  }
}

/* 태그 목록 */
.current-tags {
  margin-top: 15px;
}

.tag-list {
  list-style: none;
  padding: 0;
  margin-left: 0;
  margin-bottom: 50px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.tag-item {
  background-color: #f2f2f2;
  border-radius: 4px;
  padding: 5px 10px;
}
