.blog-post-list {
  .blog-post-date {
    width: 6em;
    color: #777;
    display: block;
    float: left;
    
  
    @include media-query($on-mobile) {
      display: block;
      float: none;
      color: #333;
      font-size: 11px;
      margin-top: 14px;
    }
  }

  .blog-post-title {
    font-size: 100%;
    letter-spacing: normal;
  }
  
  .blog-post-content{
    font-size: 85%;
    margin-top: 5px;
    color: gray;
  }
}

/* 태그 목록 */
.current-tags {
  margin-top: 15px;
}

.tag-list {
  list-style: none;
  padding: 0;
  margin-left: 0;
  margin-bottom: 50px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.tag-item {
  background-color: #f2f2f2;
  border-radius: 4px;
  padding: 5px 10px;
}


/* 태그 버튼에 애니메이션 효과를 위한 CSS */
.button-animation {
  animation: pulse 1s;
}

@keyframes pulse {
  0% {
    transform: scale(1.2);
  }
  50% {
    transform: scale(0.8);
  }
  100% {
    transform: scale(1);
  }
}

.button-hover {
  /* 원하는 hover 스타일을 여기에 추가 */
  background-color: #f2f2f2;
  color: #333;
  border: 1px solid #ddd;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transform: scale(1.2);
}