<!DOCTYPE html>
<html>
  {% include head.html %}

  <body>
    {% include header.html %}

    <div class="page-content">
      <div class="wrapper">
        <div class="blog">
          <h1 class="page-heading"><em><strong>{{ page.title}}</strong></em></h1>
          <em>{{ content }}</em>

          <!-- 현재 tag 목록 나열 -->
          <div class="current-tags">
            <ul class="tag-list">
              <li class="tag-item" onclick="showAllPosts()">Total({{site.posts.size}})</li>
              {% for tag in site.tags %}
                <li class="tag-item" onclick="showPosts('{{ tag[0] }}')">{{ tag[0] }}({{ tag[1].size }})</li>
              {% endfor %}
            </ul>
          </div>
          <!-- 현재 tag 목록 나열 끝 -->
          <div class="blog-post-list">
            {% for post in site.posts %}
              {% if post.draft != true %}
                <div class="blog-post hidden" data-tags="{% for tag in post.tags %}{{ tag }}{% if forloop.last %}{% else %},{% endif %}{% endfor %}">
                  <span class="blog-post-date">{{ post.date | date: "%-m/%-d, %Y" }}</span>
                  <a href="{{ post.url | replace:".html","" | prepend: site.baseurl }}" class="blog-post-title">
                    {{ post.title }}
                  </a>
                  <div class="blog-post-content">
                    {{ post.content | truncatewords:40 }}
                  </div>
                  <br>
                </div>
              {% endif %}
            {% endfor %}
          </div>
        </div>
      </div>
    </div>

    {% include footer.html %}

    {% include foot.html %}
    
    <script>
      function fadeIn(element) {
        var opacity = 0;
        var interval = setInterval(function () {
          if (opacity < 1) {
            opacity += 0.1;
            element.style.opacity = opacity;
          } else {
            clearInterval(interval);
          }
        }, 100);
      }

      function showAllPosts() {
        var blogPostList = document.getElementsByClassName("blog-post-list")[0];
        var blogPosts = blogPostList.getElementsByClassName("blog-post");

        for (var i = 0; i < blogPosts.length; i++) {
          blogPosts[i].style.display = "block";
          fadeIn(blogPosts[i]);
        }
      }

      function showPosts(tag) {
        var blogPostList = document.getElementsByClassName("blog-post-list")[0];
        var blogPosts = blogPostList.getElementsByClassName("blog-post");

        for (var i = 0; i < blogPosts.length; i++) {
          blogPosts[i].style.display = "none";
        }

        var selectedPosts = blogPostList.querySelectorAll('[data-tags*="' + tag + '"]');
        for (var j = 0; j < selectedPosts.length; j++) {
          selectedPosts[j].style.display = "block";
          fadeIn(selectedPosts[j]);
        }
      }

      // 웹 페이지가 로딩되면 처음 로딩 시에도 페이드 인 효과를 적용
      window.onload = function () {
        showAllPosts();
      };

      // 태그 버튼 클릭 시에 애니메이션 효과 적용
      var tagItems = document.querySelectorAll(".tag-item");
      for (var i = 0; i < tagItems.length; i++) {
        tagItems[i].addEventListener("click", function () {
          this.classList.add("button-animation");
          setTimeout(function () {
            this.classList.remove("button-animation");
          }.bind(this), 1000);
        });

        tagItems[i].addEventListener("mouseenter", function () {
          this.classList.add("button-hover");
        });

        tagItems[i].addEventListener("mouseleave", function () {
          this.classList.remove("button-hover");
        });
      }
    </script>
  </body>
</html>
